body {
    body {
        border: 5px solid black;
        }
    background-color: rgb(70, 70, 70);
}
h1 {
    font-family: Comic Sans MS, Comic Sans;
    font-size: 90px;
    -webkit-text-stroke: 3px;
    -webkit-text-stroke-color: white;
}

h2 {
    font-family: Comic Sans MS, Comic Sans;
    font-size: 50px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
}

div {
    display: flex;
    justify-content: center;
  }
  
  img {
    width: 250px;
  }
body {
  border: 10px solid rgb(0, 0, 0);
  }
